<section class="not-found">
  <div class="u-container not-found__content">

    <p class="not-found__code">404</p>

    <h1 class="not-found__title">
      Hoppá… ez az oldal eltűnt 👀
    </h1>

    <p class="not-found__description">
      Úgy tűnik, a keresett oldal nem létezik, vagy el lett mozgatva.
      De ne aggódj, segítünk visszatalálni 😉
    </p>

    <div class="not-found__actions">
      <a routerLink="/" class="not-found__primary">
        Vissza a főoldalra
      </a>

      <a routerLink="/shop" class="not-found__secondary">
        Termékek böngészése
      </a>
    </div>

  </div>
</section>