<section class="featured-offers u-section" aria-labelledby="offers-title">
  <div class="u-container">

    <div class="featured-offers__header">
      <h2 id="offers-title">Kiemelt ajánlatok</h2>

      <a routerLink="/shop" [queryParams]="{ category: 'akciok' }">
        Összes megtekintése
      </a>
    </div>

   <div class="featured-offers__grid">

    <app-product-card
    productId="1"
      name="Termék neve"
      [price]="3490"
      [oldPrice]="4990"
      imageAlt="Termék neve">
    </app-product-card>

    <app-product-card
      productId="2"
      name="Termék neve"
      [price]="2990"
      [oldPrice]="3990"
      imageAlt="Termék neve">
    </app-product-card>

</div>

  </div>
</section>