@use '../../../../../styles/tokens/colors' as *;
@use '../../../../../styles/tokens/spacing' as *;
@use '../../../../../styles/tokens/radius' as *;
@use '../../../../../styles/tokens/shadows' as *;
@use '../../../../../styles/tokens/typography' as *;
@use '../../../../../styles/abstracts/mixins' as *;

.favorite-products__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $space-5;
}

.favorite-products__header a {
  font-size: $font-size-sm;
  color: $color-primary;
  font-weight: $font-weight-medium;
}

.favorite-products__grid {
  display: grid;
  gap: $space-4;
}

@include respond-to(md) {
  .favorite-products__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include respond-to(lg) {
  .favorite-products__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}